{%  extends 'UsersAuth/main.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" name="adduser" value="True">
<h1 style="margin-bottom: 15px;">Add Users</h1>

  <div class="row">
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
        </div>
        <input type="text" autocomplete="false" class="form-control" name="username" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      
    </div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        </div>
        <input type="password" autocomplete="new-password" name="password"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      
    </div>
    <div class="col-sm">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">E-mail</span>
        </div>
        <input type="email" autocomplete="off" name="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      
    </div>
  </div>

  <div style="left: 93%;position: relative ;margin-top: 20px;">
    <button type="submit" class="btn btn-primary" >Ajouter</button>
  </div>

</form>
</div>

<!-- 

  <div class="container mt-5">
    <form action="" method="POST" autocomplete="off">
      {% csrf_token %}
      <input type="hidden" name="gencertif" value="True">
      <h1 style="margin-bottom: 15px;">Certificates</h1>
      <br>
  
    <div class="row">
      <div class="col-sm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
          </div>
              {{ certif.user }}
        </div>
        
      </div>

        
      </div>
        
  
    <div style="left: 83%;position: relative ;margin-top: 20px;">
      <button type="submit" class="btn btn-primary" >Générer</button>
      <button type="button" class="btn btn-primary" >Modifier</button>
    </div>
  
  </form>
  </div>

</div>

 -->




{% endblock %}
