{%  extends 'UsersAuth/main.html' %}
{% load static %}

{% block content %}
<!-- 
<form action="" method="POST">
  {% csrf_token %}
<div style="margin-top: 10%;">
  <h1 style="margin-left: 2%;">Upload File</h1>

<div class="container m-3" >
  <h3>Objet</h3>
  <input type="text" name="description">
  <hr>
  <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="document">
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" >Enoyer</button>
    </div>
  </div>
</div>

</div>
</form> -->

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div style="padding:50px;margin-left:20%;width: 600px;">
    <h1 >Upload File</h1>
  
  <div class="container m-3" >
    <h3>Send To</h3>
    {{ form.sento }}
    <hr>
    <h3>Objet</h3>
    {{ form.description }}
    <hr>
    <div class="input-group">
      <div class="custom-file mt-3" >

  {{ form.document }}

  <!-- <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name="document"> -->
  <label class="custom-file-label" for="id_document" style="align-items: center;width: 500px;">Choose file</label>
</div>
<div class="input-group-append" style="margin-top: 90px">
  <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" >Enoyer</button>
</div>
</div>
</div>

</div>


</form>

<script>
const inp =document.getElementsByName('document')[0];
inp.ariadescribedby = "inputGroupFileAddon04";
inp.style.width = "150px";
function getlabval(){document.getElementsByTagName('label')[0].innerHTML = document.getElementById("id_document").value.replace('C:\\fakepath\\', ' ');}
const elm = document.getElementById("id_document");
elm.addEventListener("change", getlabval);

</script>


{% endblock %}
