{%  extends 'UsersAuth/main.html' %}
{% load static %}

{% block content %}

<style>
  html {opacity: 90%;}
  body { background-color: transparent;}
  table th, tr , td, h1 ,h2 ,a {background-color: transparent;color: white;}
  table {margin-bottom: 50px;}
</style>
  
<div class="container mt-5">
  <h1 style="margin-bottom: 15px;">Recived Files</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">File Name</th>
        <th scope="col">Recived At</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
   
        {% for d in data %}
        <tr >
          {% for elm in d %}
        <td >
         

         {% if forloop.counter0	 == 4 %}
         &nbsp;&nbsp;&nbsp; <a href="../download?{{ elm }}" style="align-self: center;">Download</a>
         {% else %}
         {{ elm }} 
         {% endif %}

        </td>
        {% endfor %}
      </tr>
        {% endfor %}

 
      
    </tbody>
  </table>
 

{% endblock %}
